﻿@{
    @model List<BlogModel>
}

    <section class="postList row">
        @if (Model.Count > 0)
        {
            @foreach (var i in Model)
            {
                <div class="postItem col-lg-6">
                    <a class="readMoreButton d-block mb-5 d-flex position-relative" asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-blogId="@i.BlogId">
                        @if (!string.IsNullOrEmpty(i.ImgUrl))
                        {
                            <div class="imgThumbWrapper pr-3">
                                <img src="@i.ImgUrl" />
                            </div>
                        }
                        else
                        {
                            <div class="imgThumbWrapper pr-3">
                                <img src="https://st2.depositphotos.com/1000423/10227/i/950/depositphotos_102276346-stock-photo-question-mark-on-curcuit-board.jpg" />
                            </div>
                        }
                        <div class="w-100 pr-2">
                            <div class="postName my-2 font-weight-bold">@i.Name</div>
                            <div>
                                <div class="postShortDescription ellips-text-3 ">@i.Description</div>
                                <div class="d-flex justify-content-between">
                                    <p class="postAuthor text-muted text-left mb-0">@i.AuthorId</p>
                                    <p class="postCreationDate text-muted text-right mb-0">@i.CreationDate.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                        </div>
                        <div class="commentCount">&#x1f4ac @i.totalComment</div>
                    </a>
                </div>
            }
            <partial name="_HomePaging" model="@ViewBag.PagingModel" />
        }
    </section>
