﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PagingModel

<div class="paging w-100">
    <div class="center">
        <div class="pagination">
            @if ((Model.CurrentPage - 1) >= 1)
            {
                <a href="?page=@(Model.CurrentPage-1)">&laquo;</a>
            }
            else
            {
                <a href="?page=1">&laquo;</a>
            }
            @{
                int p = Model.CurrentPage;

                if (Model.TotalPage >= 7)
                {
                    for (int i = p - 3; i <= p + 3; i++)
                    {
                        if (p + 3 > Model.TotalPage)
                        {
                            p--;
                            i -= 2;
                            continue;
                        }

                        if (i != Model.CurrentPage)
                        {
                            if (i <= 0)
                            {
                                p++;
                            }
                            else
                            {
                                <a href="?page=@i">@i</a>
                            }
                        }
                        else
                        {
                            <a href="?page=@i" class="active">@i</a>
                        }
                    }
                }
                else
                {
                    for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        if (i != Model.CurrentPage)
                        {
                            <a href="?page=@i">@i</a>
                        }
                        else
                        {
                            <a href="?page=@i" class="active">@i</a>
                        }
                    }
                }
            }
            @if (Model.CurrentPage + 1 <= Model.TotalPage)
            {
                <a href="?page=@(Model.CurrentPage+1)">&raquo;</a>
            }
            else
            {
                <a href="?page=@(Model.TotalPage)">&raquo;</a>
            }
        </div>
    </div>
</div>