﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - nashtech_exercise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="background"></div>
    @*<div class="fog"></div>*@
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="px-5 w-100 d-flex">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Long's Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*&& await UserManager.IsInRoleAsync(UserManager.Users.FirstOrDefault(),"ad")*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Blog" asp-action="Create">Create Blog</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Admin page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page">
        <main role="main" class="pb-3 bg-white-trans p-5 px-0 rounded shadow mb-5" id="pageBody">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="px-5 text-white">
            &copy; 2020 - Nashtech Exercise
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
<script>
    if (window.location.pathname.toString() == '/') {
        document.getElementById("pageBody").classList.add("transparentBg");
        document.getElementById("pageBody").classList.add("blogList");
    }
</script>
</html>
