﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    @model BlogModel
}

    <div class="detailBlog mb-5">
        <h1 class="shadow p-2">@Model.Name</h1>
        <p class="text-muted text-sm-left">@Model.CreationDate</p>
        @if (!string.IsNullOrWhiteSpace(Model.ImgUrl))
        {
            <div class="img-container my-3 mx-auto">
                <img class="shadow" src="@Model.ImgUrl" />
            </div>
        }
        <p class="p-2">@Model.Description</p>
        <div class="d-flex justify-content-end">
            <p class="text-muted">@Model.AuthorName</p>
        </div>
        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.AuthorId)
        {
            <div class="w-100 d-flex justify-content-end">
                <a asp-controller="Blog" asp-action="delete" asp-route-blogId="@Model.BlogId">
                    <button class="btn btn-sm btn-danger shadow">Delete this post</button>
                </a>
            </div>
        }

    </div>

<hr />

<div class="comments">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Blog" asp-action="CreateComment" asp-route-blogId="@Model.BlogId">
            <div class="addCommentBox shadow">
                <div class="input-group mb-3">
                    <input name="comment" type="text" class="form-control border-0" placeholder="Type your comment..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="bg-transparent border-0 p-0">
                            <span class="sendCommentButton input-group-text" id="basic-addon2">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="addCommentBox shadow">
            <div class="input-group mb-3">
                <input disabled name="comment" type="text" class="form-control border-0" placeholder="Login to type your comment" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button disabled type="submit" class="bg-transparent border-0 p-0">
                        <span class="sendCommentButton input-group-text" id="basic-addon2">&#10148;</span>
                    </button>
                </div>
            </div>
        </div>
    }
    @foreach (var comment in @Model.Comments)
    {
        <div class="otherComment p-2 bg-white round shadow mb-2">
            <div class="d-flex">
                <div class="commentAvatar">
                    <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/147/147140.png" />
                </div>
                <div class="commentAuthor d-flex align-items-center">
                    <p class="mb-0 pl-2 text-danger">
                        #@comment.AuthorName
                        @if (SignInManager.IsSignedIn(User) && ((UserManager.GetUserId(User) == comment.AuthorId) || (UserManager.GetUserId(User) == Model.AuthorId)))
                        {
                            <form asp-controller="Blog" asp-action="DeleteComment" asp-route-blogId="@Model.BlogId" asp-route-commentId="@comment.CommentId">
                                <button type="submit" class="badge badge-danger deleteCommentBadge border-0 ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" viewBox="0 0 448 512" style="&#10;    color: white;&#10;"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z" /></svg>
                                </button>
                            </form>
                        }
                    </p>
                </div>
            </div>
            <p class="commentContent pl-5">
                @comment.Content
            </p>
        </div>
    }
    @{
        if (ViewBag.CommentPage == null) {
            ViewBag.CommentPage = 1;
        }

        PagingModel commentPagingModel = new PagingModel
        {
            CurrentPage = ViewBag.CommentPage,
            TotalPage = ViewBag.TotalPage,
            BlogId = Model.BlogId
        };
    }
    <partial name="_CommentPaging" model="@commentPagingModel" />
</div>


